### Preprocessing of data 
Removing special characters and hashtags, getting the ID, concatenating the two datasets, store files as txt

perfect for Stylo() analysis

In [1]:
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\svcsc\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\svcsc\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [27]:
def preprocessText(data):
  data["tweets"] = data.apply(lambda row: re.sub(r'@\w*', '', row["tweets"]), axis=1)
  data["tweets"] = data.apply(lambda row: re.sub(r'((http|https)\:\/\/)?[a-zA-Z0-9\.\/\?\:@\-_=#]+\.([a-zA-Z]){2,6}([a-zA-Z0-9\.\&\/\?\:@\-_=#])*', '', row["tweets"]), axis=1)
  data["tweets"] = data.apply(lambda row: re.sub(r"[^a-zA-Z0-9\s]", "", row["tweets"]), axis=1)
  return data

In [4]:
def get_id(data):
  new = list(range(len(data)))
  data["ID"] = new
  data = data.loc[:, ['ID', 'type', 'gender', 'num_tweets', 'tweets', 'followers_count', 'statuses_count', 'favorites_count', 'listed_count']]
  return data

In [5]:
def store_files(data):
  with open(f'{data["type"]}_{data["ID"]}.txt', 'w') as f:
    f.write(data['tweets'])

In [ ]:
# dataset from plank and hove concatenating together
data1 = pd.read_csv('zweitausend_b.txt', sep="\t", lineterminator='\n', header=None)
data1.columns = ["type", "gender", "num_tweets", "tweets"]
data2 = pd.read_csv("2000metab.csv", sep=";")
data3 = pd.concat([data1, data2], axis=1, join='inner')
data3 = data3.drop(columns="profile_background_color")
data3

In [28]:
#second mbti dataset from kaggle
data = pd.read_csv("mbti_1.csv", sep=",")
data = data.rename(columns={'posts': 'tweets'})
data

      type                                             tweets
0     INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1     ENTP  'I'm finding the lack of me in these posts ver...
2     INTP  'Good one  _____   https://www.youtube.com/wat...
3     INTJ  'Dear INTP,   I enjoyed our conversation the o...
4     ENTJ  'You're fired.|||That's another silly misconce...
...    ...                                                ...
8670  ISFP  'https://www.youtube.com/watch?v=t8edHB_h908||...
8671  ENFP  'So...if this thread already exists someplace ...
8672  INTP  'So many questions when i do these things.  I ...
8673  INFP  'I am very conflicted right now when it comes ...
8674  INFP  'It has been too long since I have been on per...

[8675 rows x 2 columns]

In [29]:
data = preprocessText(data)
data = get_id(data)
data

      type                                             tweets
0     INFJ  enfp and intj moments    sportscenter not top ...
1     ENTP  Im finding the lack of me in these posts very ...
2     INTP  Good one     Of course to which I say I know t...
3     INTJ  Dear INTP   I enjoyed our conversation the oth...
4     ENTJ  Youre firedThats another silly misconception T...
...    ...                                                ...
8670  ISFP  IxFP just because I always think of cats as Fi...
8671  ENFP   this thread already exists someplace else whi...
8672  INTP  So many questions when i do these things  I wo...
8673  INFP  I am very conflicted right now when it comes t...
8674  INFP  It has been too long since I have been on pers...

[8675 rows x 2 columns]

In [ ]:
data.to_csv("mbti_portal_preprocessed.csv", sep='\t', encoding='utf-8')
data.apply(lambda row: store_files(row) , axis=1)